


*{
    margin: 0;
    padding: 0;
}

.form{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 350px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
input{
    height: 40px;
   margin-top: 20px;
   border-radius: 5px;
   box-shadow: 1px 1px 3px 0;
}

.sendBut{
    margin-top: 20px;
    height: 50px;
    background-color: green;
    color: aliceblue;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.req{
    color: red;
}

.inpBlock{
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.inpPass{
   width: 100%;
}

.inpBlock .icon{
    position: absolute;
    right: 20px;
    top: 7px;
}
.mailInp{
    margin-top: 15px;
}